body{
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10%;
    background-color:rgb(234, 239, 242);
}
h1{
    text-align: center;
    color:243642;
}

form {
    max-width:700px ;
    margin: auto;
    background-color: rgb(193, 211, 241);
    border-radius: 10px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px;
}
fieldset{
    border: 2px solid #80b0d8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(204, 219, 232);

}
legend{
    display: block;
    text-align: center;
    color: black;
    font-size:larger;
}
label{
    display: block;
    margin-top: 10px;
    color: black;
}
input,textarea {
    width: calc(100% - 1px);
    padding: 5px;
    margin-top: 4px;
    border-radius: 4% solid rgb(123, 167, 236);
    box-sizing: border-box;

}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(187, 204, 239);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
button:hover{
    background-color: rgb(97, 156, 224);
}